body {
    background-color: purple;
    color: yellow;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid yellow; 
}

header {
    text-align: center;
}

header h1 {
    color: yellow;
}

header h2 {
    color: yellow;
    text-align: center;
}

header img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid yellow;
    margin-bottom: 20px;
}

#body12, #body2, #body212 {
    background-color: purple;
    color: yellow;
    text-align: center;
}

#a03, #a04, #a05, #a1 {
    color: yellow;
}
.yellow-link {
    color: yellow;
    text-decoration: none; /* Opcional: remover sublinhado do link */
}
body {
    background-color: purple;
    color: yellow;
    text-align: center; /* Centralizar todo o texto */
}

img {
    display: block; /* Para centralizar a imagem horizontalmente */
    margin: 0 auto; /* Para centralizar a imagem horizontalmente */
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid yellow; 
}
